@import "tailwindcss";

@font-face {
  font-family: "DrukTrial";
  src: url("./assets/fonts/Druk-Heavy-Trial.otf");
}

.druk-title {
  font-family: "DrukTrial", sans-serif;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-[95%] px-2;
  }

  .a-mother-spark-button {
    @apply [filter:brightness(0)_saturate(100%)_invert(1)]
    hover:[filter:brightness(0)_saturate(100%)_invert(14%)_sepia(1)_saturate(6500%)_hue-rotate(-7deg)_brightness(100%)_contrast(60%)];
  }
}
